# Global ignores
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store

# Virtual environments
**/.venv/
**/venv/
**/.env/
**/.tox/

# Git and local metadata
.git/
.gitignore
.idea/
.vscode/

# Build artifacts
**/dist/
**/build/
**/*.egg-info/

# Node stuff (for webfe)
**/node_modules/
**/.parcel-cache/
**/dist/

# Misc
**/*.log
**/*.tmp
